/* Fonts */

@font-face {
    font-family: 'Circular Std Black';
    font-style: normal;
    font-weight: normal;
    src: url('../fonts/CircularStd-Black.woff') format('woff');
}

@font-face {
    font-family: 'Circular Std Bold';
    font-style: normal;
    font-weight: normal;
    src: url('../fonts/CircularStd-Bold.woff') format('woff');
}

@font-face {
    font-family: 'Circular Std Book';
    font-style: normal;
    font-weight: normal;
    src: url('../fonts/CircularStd-Book.woff') format('woff');
}

@font-face {
    font-family: 'Circular Std Medium';
    font-style: normal;
    font-weight: normal;
    src: url('../fonts/CircularStd-Medium.woff') format('woff');
}

/* Elements */

body {
    background-color: #181717;
    color: white;
    font-family: 'Circular Std Book';
}

h1 {
    color: #16CA76;
    font-family: 'Circular Std Black';
    font-size: 2.5em;
}

h2 {
    color: #16CA76;
    font-family: 'Circular Std Black';
    font-size: 1.5em;
}

p {

}

form {
    padding: 0 4em;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

form input {
    background-color: #262626;
    border: 0;
    color: white;
    height: 100%;
    padding: 0 1em;
    width: 100%;
}

form input:focus {
    outline: none;
}

form button {
    height: 100%;
    width: 100%;
}

/* Classes */

.navbar {
    padding: 0 4em;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(10, 1fr);
    height: 100vh;
    width: 100vw;
}

.grid-item {

}

.sub-title {
    padding-bottom: 0.5em;
    padding-left: 40px;
}

.timestamp {
    color: #808080;
    font-size: 0.8em;
    padding-left: 1em;
}

.message-main-user {
    text-align: right;
}

.message-text {
    background-color: #262626;
    border-radius: 1em;
    display: inline-block;
    padding: 1em;
}

.message-text-main-user {
    background-color: #1982FC;
}

/* IDs */

#grid-item-navbar {
    grid-column: 1 / span 6;
}

#grid-item-messages {
    grid-column: 1 / span 5;
    grid-row: 2 / span 8;
    overflow-y: auto;
}

#grid-item-users {
    grid-column: 6 / span 1;
    grid-row: 2 / span 8;
    overflow-y: auto;
}

#grid-item-form {
    grid-column: 1 / span 5;
}

#messages {
    list-style-type: none;
    padding: 0 4em;
}

#users {
    list-style-type: none;
}

/* Custom Scrollbar */

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #262626;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: white;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: white;
}

/* Media Queries */

@media only screen and (max-width: 768px) {
    body {
        font-size: 0.75em;
    }

    form {
        display: block;
        padding: 0 1em;
        position: static;
        top: 0%;
        transform: translateY(50%);
    }

    form input {
        font-size: 16px;
        padding: 0.5em 1em;
    }

    button {
        margin-top: 1em;
    }

    .navbar {
        display: block;
        padding: 0;
        position: static;
        text-align: center;
        top: 0%;
        transform: translateY(50%);
    }

    .sub-title {
        padding: 0 16px;
    }

    #grid-item-navbar {
        grid-column: 1 / span 6;
    }

    #grid-item-messages {
        grid-column: 1 / span 4;
        grid-row: 2 / span 67;
        overflow-y: auto;
    }

    #grid-item-users {
        grid-column: 5 / span 2;
        grid-row: 2 / span 6;
        overflow-y: auto;
    }

    #grid-item-form {
        grid-column: 1 / span 6;
        grid-row: 8 / span 3;
    }

    #messages {
        padding: 0 1em;
    }

    #users {
        padding: 0 1em;
    }
}
