/* Fonts */

@font-face {
    font-family: 'Circular Std Black';
    font-style: normal;
    font-weight: normal;
    src: url('../fonts/CircularStd-Black.woff') format('woff');
}

@font-face {
    font-family: 'Circular Std Bold';
    font-style: normal;
    font-weight: normal;
    src: url('../fonts/CircularStd-Bold.woff') format('woff');
}

@font-face {
    font-family: 'Circular Std Book';
    font-style: normal;
    font-weight: normal;
    src: url('../fonts/CircularStd-Book.woff') format('woff');
}

@font-face {
    font-family: 'Circular Std Medium';
    font-style: normal;
    font-weight: normal;
    src: url('../fonts/CircularStd-Medium.woff') format('woff');
}

/* Elements */

body {
    background-color: #181717;
    color: white;
    font-family: 'Circular Std Book';
}

h1 {
    color: #FEA634;
    font-family: 'Circular Std Black';
    font-size: 2.5em;
}

h2 {
    color: #ff5656;
    font-family: 'Circular Std Black';
    font-size: 1.5em;
}

p {

}

form {
    padding: 0 4em;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

form input {
    background-color: #262626;
    border: 0;
    color: white;
    height: 100%;
    padding: 0 1em;
    width: 100%;
}

form input:focus {
    outline: none;
}

form button {
    height: 100%;
    width: 100%;
}

/* Classes */

.navbar {
    padding: 0 4em;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(10, 1fr);
    height: 100vh;
    width: 100vw;
}

.grid-item {

}

.timestamp {
    color: #808080;
    font-size: 0.8em;
    padding-left: 1em;
}

.message-main-user {
    text-align: right;
}

.highlight-main-user {
    /* color: #16CA76; */
}

/* IDs */
#grid-item-navbar {
    grid-column: 1 / span 6;
}

#grid-item-messages {
    /* background-color: darkblue; */
    grid-column: 1 / span 5;
    grid-row: 2 / span 8;
    overflow-y: auto;
}

#grid-item-users {
    /* background-color: darkred; */
    grid-column: 6 / span 1;
    grid-row: 2 / span 8;
    overflow-y: auto;
}

#grid-item-form {
    grid-column: 1 / span 5;
}

#messages {
    list-style-type: none;
    padding: 0 4em;
}

#messages li {

}

#users {
    list-style-type: none;
}

/* Custom Scrollbar */
/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #262626;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: white;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: white;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {

}
