/* Fonts */

@font-face {
    font-family: 'Circular Std Black';
    font-style: normal;
    font-weight: normal;
    src: url('../fonts/CircularStd-Black.woff') format('woff');
}

@font-face {
    font-family: 'Circular Std Bold';
    font-style: normal;
    font-weight: normal;
    src: url('../fonts/CircularStd-Bold.woff') format('woff');
}

@font-face {
    font-family: 'Circular Std Book';
    font-style: normal;
    font-weight: normal;
    src: url('../fonts/CircularStd-Book.woff') format('woff');
}

@font-face {
    font-family: 'Circular Std Medium';
    font-style: normal;
    font-weight: normal;
    src: url('../fonts/CircularStd-Medium.woff') format('woff');
}

/* Elements */

body {
    background-color: #181717;
    color: white;
    font-family: 'Circular Std Book';
}

h1 {
    color: #16CA76;
    font-family: 'Circular Std Black';
    font-size: 2.5em;
    margin: 0;
}

h2 {
    color: #16CA76;
    font-family: 'Circular Std Black';
    font-size: 1.5em;
    margin: 0;
}

p {
    /* Empty */
}

form {
    padding: 0 4em;
    width: 100%;
}

form input {
    background-color: #262626;
    border: 0;
    color: white;
    font-size: 18px;
    padding: 0.5em 1em;
    width: 100%;
}

form input:focus {
    outline: none;
}

/* Classes */

.navbar {
    /* Empty */
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(10, 1fr);
    height: 100vh;
    width: 100vw;
}

.grid-container button {
    margin: 0 4em;
    width: 100%;
}

.grid-item {
    /* Empty */
}

.div-centered {
    align-items: center;
    display: flex;
    justify-content: center;
}

.sub-title {
    padding: 0 64px 20px 64px;
}

.timestamp {
    color: #808080;
    font-size: 0.8em;
    padding-left: 1em;
}

.message-text {
    background-color: #262626;
    border-radius: 1em;
    display: inline-block;
    padding: 1em;
}

.message-main-user {
    text-align: right;
}

.message-text-main-user {
    background-color: #1982FC;
}

.modal-content {
    background-color: #262626;
    padding: 1em;
}

.modal-footer {
    border: 0;
}

.modal.modal-static .modal-dialog {
    transform: none !important;
    -moz-transform: none !important;
    -ms-transform: none !important;
    -webkit-transform: none !important;
}

.command {
    color: #16CA76;
    padding: 0 0.5em;
}

/* IDs */

#grid-item-navbar {
    grid-column: 1 / span 6;
}

#grid-item-messages {
    grid-column: 1 / span 4;
    grid-row: 2 / span 8;
    overflow-y: auto;
}

#grid-item-users {
    grid-column: 5 / span 2;
    grid-row: 2 / span 8;
    overflow-y: auto;
}

#grid-item-form {
    grid-column: 1 / span 4;
}

#grid-item-send {
    grid-column: 5 / span 1;
}

#grid-item-info {
    grid-column: 6 / span 1;
}

#messages {
    list-style-type: none;
    padding: 0 4em;
}

#users {
    list-style-type: none;
    padding: 0 4em;
}

/* Custom Scrollbar */

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #262626;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: white;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: white;
}

/* Media Queries */

@media only screen and (max-width: 768px) {

    /* Elements */

    body {
        font-size: 0.7em;
    }

    form {
        padding: 0 1em;
    }

    /* Classes */

    .grid-container button {
        margin: 0 1em;
    }

    .sub-title {
        padding: 0 12px 20px 12px;
    }

    /* IDs */

    #grid-item-messages {
        grid-row: 2 / span 7;
        overflow-y: auto;
    }

    #grid-item-users {
        grid-row: 2 / span 7;
        overflow-y: auto;
    }

    #grid-item-form {
        grid-column: 1 / span 6;
    }

    #grid-item-send {
        grid-column: 1 / span 4;
    }

    #grid-item-info {
        grid-column: 5 / span 2;
    }

    #messages {
        padding: 0 1em;
    }

    #users {
        padding: 0 1em;
    }
}
